# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*


data

# Terraform Configuration Values
#config

*secrets.*

*.auto.*

*key-pair

.terraform*

node_modules
